1) Favourate count
2) If tweet retweeted >50times => True
3) If text words are 80% uppercase =>False
4) If author's follower >1000 => True
5) If text ends with question mark=> unverifed

Feature vector=[1=> favorite count,2=> retweet_count(),3=> text.uppercase(),4=>followers_count(),5=>end of character (1 or 0)]

Results (classification)=>
1) True
2) False
3) Unverified

===========
Steps:

1) Preprocessing => only tokenization of scripts (cleaning process can impact negatively in the results)
2) post-processing module of decision rules => as given above
3) training => maximum entropy classifier followed by decision tree
4) Data size => Trainining (272 each tweets) and Test (28 each tweets)

**You should try to use newer models to train these data ***